@{ 
    var creds = ViewBag.logIn;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/Scripts/404Script.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onload="loadFunction()">
    <div style="background-color:#9ec54d; display:inline; font-size: 1.25em; color: black; width:auto; height:auto; margin:auto;" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/resources/yf_logo.svg" alt="Youth Futures Logo" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse" style="vertical-align:middle">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Programs", "Programs", "Home")</li>
                    <li>@Html.ActionLink("Get Involved", "Involved", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li style="background-color: cornflowerblue;">@Html.ActionLink("Donate", "Donate", "Home")</li>
                    <li> <a onclick="document.getElementById('id01').style.display = 'block'">Login</a></li>
                    <li><button id ="editBtnEdit" onclick="myFunction();" type="button">Edit Document</button></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- The Login Modal -->
    <div id="id01" class="modal">

        <form class="modal-content animate" action="">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/resources/yf_logo.svg">
            </div>

            <div class="container-modal">
                <label><b>Username</b></label>
                <input id="uname" type="text" placeholder="Enter Username" name="uname" required>
                <label><b>Password</b></label>
                <input id="psw" type="password" placeholder="Enter Password" name="psw" required>
                <button id="login" type="submit" onclick="loginCreds()">Login</button>
            </div>

            <div class="container-modal" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>


    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    @*DropMenu*@
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    @*sidenav*@
    <div class="sidebar" id="sideEdit">
        <p class="sidebarTitle">Editables</p>
        <ul>
            <li>
                <a href="#">Font Color</a>
                <ul>
                    <li><a href="#" id="blue">The Best Blue</a></li>
                    <li><a href="#" id="red">Ugly Red</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Font Size</a>
                <ul>
                    <li><a href="#">Choose a Size</a></li>
                    <li><a href="#">Size:</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Font Family</a>
                <ul>
                    <li><a href="#">Comic Sans</a></li>
                    <li><a href="#">Wing Dings</a></li>
                    <li><a href="#">Old English</a></li>
                </ul>
            </li>
            <li><a href="#">Images</a></li>
                <ul>
                    <li><a href="#">Insert Image Here</a></li>
                </ul>
            <li>
                <a href="#">Styles</a>
                <ul>
                    <li><a href="#">Bold</a></li>
                    <li><a href="#">Italics</a></li>
                    <li><a href="#">Underline</a></li>
                </ul>
            </li>
        </ul>
    </div>
        <div class="container body-content">
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>


